In [1]:
import pandas as pd

In [2]:
# Введём след команды
pd.set_option('display.max_columns', 40)
pd.set_option('display.float_format', '{:.2f}'.format)

In [3]:
df = pd.read_csv('data.csv')

In [4]:
df.head(2)

                        name;revenue;amount;profit
ARIEL;5344  86;43 00;0                          21
BIMAX;11030 81;86 00;0                          25

In [ ]:
# Что будет происходить далее...